* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

  /* Create three unequal columns that floats next to each other */
.column {
    border-right: solid #666666 5px;
    float: left;
    text-align: center;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left, .middle {
    width: 15%;    
}
  
.right {
    width: 70%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}