body {
    margin: 0;
    background-image: url("../img/login.jpg");
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 100%;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-card {
    margin-top: 10%;
    width: 400px;
    height: 550px;
    background-color: #FFFFFF;
    text-align: center;
}

#login-form {
    margin: 10%;
}

#login-form h1 {
    margin-bottom: 50px;
}

#login-form input {
    font-size: 22px;
    margin-bottom: 75px;
}

#result {
    color: #FFFFFF;
    margin-bottom: 40px;
}

#footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 35px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.submit-btn {
    background-color: #7bd460;
    width: 150px;
    padding: 10px;
    color: #FFFFFF;
    border-style: none;
}